/* styles.css */
body, h1, ul, li {
    margin: 0;
    padding: 0;
}

.appContainer {
    flex-direction: row;
    height: 100vh;
    font-family: Calibri;
    background-color: #fafafa;
}
.container {
     display: flex;
     flex-direction: row;
     font-family: Calibri;
     background-color: #fafafa;
 }


header {
    background-color: #ccdef1;
    color: #111111;
    padding: 10px 20px;
    text-align: center;
    font-family: Calibri;
}

.sidebar {
    background-color: #fafafa;
    flex: 0.12;
    width: 200px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #d6dadc;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 8px;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: #bcc0c2;
}
.outer-margin{
    margin-block-end: 16px;
    background:#ffffff;
}
.content {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
    padding-block-start:0;
    padding-block-end:32px;

}

.search {
    margin-bottom: 20px;

    font-size: 20px;
    cursor: pointer;
}

.search input {
    padding: 8px 11px;
    width: 100px;
    border:1px solid #d9d9d9;
    background:#ffffff;
    margin-right: 5px;
    border-radius: 5px;
}
.search select {
    padding: 8px 11px;
    width: 100px;
    border:1px solid #d9d9d9;
    background:#ffffff;
    margin-right: 5px;
    border-radius: 5px;
    /*box-sizing:border-box;*/
}

.search button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #499cfa;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.search button:hover {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2e8df8;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.outer{
    position:relative;
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
    width: 100%;
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
    background-color:#ffffff;
    border-radius:6px;
    margin: 0;
    padding: 24px;

}
.table-list{
    width: 100%;
    text-align:left;
    border-bottom:1px solid #f0f0f0;

}
.table-list  th {
    padding: 10px 20px;
    width: 100px;
    height: 30px;
    font-size:1.2em;
    background-color: #fafafa;
    color:#000000;
    border-radius:6px
}
.table-list  td {
    padding: 10px 20px;
    width: 100px;
    color:#000000;

}